body{
  background: rgb(0, 72, 158);
}

/* ==========================================================================
   Navigation Bar
   ========================================================================== */

.navbar{
  background: rgb(235, 235, 227);
  min-height: auto;
}
.dropdown a{
  position: relative;
  margin: 3px;
  background: rgb(231, 231, 231);
  outline: 2px solid rgb(133, 130, 132);
  border-bottom: 2px solid rgb(189, 190, 189);
  border-right: 2px solid rgb(189, 190, 189);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  padding: 3px 10px!important;
}






