body{
  background: rgb(0, 72, 158);
}

/* ==========================================================================
   Navigation Bar
   ========================================================================== */

.navbar{
  background: rgb(235, 235, 227);
  min-height: auto;
}
.dropdown a{
  position: relative;
  margin: 3px;
  background: rgb(231, 231, 231);
  outline: 1px solid rgb(133, 130, 132);
  border: 1px solid rgb(189, 190, 189);
  padding: 3px 10px!important;
}






