body{
  background: rgb(0, 72, 158);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* ==========================================================================
   Navigation Bar
   ========================================================================== */

.navbar{
  background: rgb(235, 235, 227);
  min-height: auto;
}
.dropdown a{
  margin: 8px;
  padding: 5px 10px!important;
  font-size: 20px;
}
 .nav .open>a, .nav .open>a:hover{
  background: rgb(231, 231, 231) !important;
  outline: 2px solid rgb(133, 130, 132) !important;
  border-top: 2px solid rgb(189, 190, 189) !important;
  border-left: 2px solid rgb(189, 190, 189) !important;
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  border-right: 2px solid rgb(255, 255, 255) !important;
}

/* ==========================================================================
   Button Styles
   ========================================================================== */

.main-button{
  background: rgb(231, 231, 231);
  outline: 2px solid rgb(133, 130, 132);
  border-bottom: 2px solid rgb(189, 190, 189);
  border-right: 2px solid rgb(189, 190, 189);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}


